!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h1 #{@user.name},
    %p
      #{t('.body.link')}:
      %br/
      - link = edit_password_reset_url id: @user.password_reset_token
      %a{href: link}= link
    %p
      = t('.body.ignore')
