%footer.footer
  %small
    = t('.application_by')
    %a(href="mailto:paolo.dapice@gmail.com?subject=Sample Application") Paolo D'Apice
  %nav
    .ul
      .li= link_to t('static_pages.about.title'),   about_path
      .li= link_to t('static_pages.contact.title'), contact_path
