<footer class="footer">
  <small>
    Sample Application by 
    <a href="mailto:paolo.dapice@gmail.com?subject=Sample Application">Paolo D'Apice</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
