%li#fat-menui.dropdown
  %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
    = flag(I18n.locale)
    %b.caret
  %ul.dropdown-menu
    - supported_locales.each do |locale, description|
      %li= link_to flag(locale) + '  ' + description, locale: locale
